[submodule "thirdparty/extra"]
	path = thirdparty/extra
	url = https://github.com/jkjung-avt/jetson_nano.git
[submodule "thirdparty/CSI-Camera"]
	path = thirdparty/CSI-Camera
	url = https://github.com/JetsonHacksNano/CSI-Camera.git
[submodule "thirdparty/jetson-nano-tools"]
	path = thirdparty/jetson-nano-tools
	url = https://github.com/karaage0703/jetson-nano-tools.git
[submodule "thirdparty/installSwapfile"]
	path = thirdparty/installSwapfile
	url = https://github.com/JetsonHacksNano/installSwapfile.git
[submodule "thirdparty/cmake"]
	path = thirdparty/cmake
	url = https://github.com/Kitware/CMake.git
[submodule "thirdparty/openpose"]
	path = thirdparty/openpose
	url = https://github.com/CMU-Perceptual-Computing-Lab/openpose.git
[submodule "thirdparty/darknet"]
	path = thirdparty/darknet
	url = https://github.com/AlexeyAB/darknet.git
[submodule "thirdparty/tf-pose-estimation"]
	path = thirdparty/tf-pose-estimation
	url = https://github.com/ildoonet/tf-pose-estimation.git
